<template>
 <div id="app">
   
  <b-navbar toggleable="lg" type="light" variant="white" sticky="" id="coba">
    <b-container>
      <b-navbar-nav>
        <b-nav-item-dropdown text="Product" right>
          <b-dropdown-item href="#">EN</b-dropdown-item>
        </b-nav-item-dropdown>
      <b-nav-item href="#">Methodology</b-nav-item>
      <b-nav-item href="#">Pricing</b-nav-item>
      </b-navbar-nav>
      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-form>
          
        </b-nav-form>

        <b-nav-item-dropdown text="Partners" right>
          <b-dropdown-item href="#">EN</b-dropdown-item>
          
        </b-nav-item-dropdown>
        <b-nav-item-dropdown text="Resources" right>
          <b-dropdown-item href="#">EN</b-dropdown-item>
          
        </b-nav-item-dropdown>

        <b-nav-item href="#">Login</b-nav-item>

        
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-container>
  </b-navbar>

  <b-container class="bv-example-row">
    <b-row>
      
        <b-img src="https://databox.com/wp-content/themes/databox/inc/img/first/databox-product-main.png" fluid alt="Responsive image"></b-img>

    
     </b-row>
  <b-row>
    <b-col sm="12"><h2>Databox pulls all your data into one place, so you can track performance and discover insights in real-time.</h2>
      <form class="inputs">
          <input type="email" placeholder="Your company email" value="">
          <button type="submit" class="btn btn-green btn-green-darker btn-lg">Get Started</button>
          <small>Free Forever  ·  No Credit Card Required</small>
          </form>

    </b-col>
   
  </b-row>

  <b-row>
    <b-col cols="6">
      <h2>Pull all of your KPIs into one place.</h2>
      <p class="left">
      Tired of logging into multiple tools to see how your company is performing? View all of your performance data in one place so you can spend less time checking data and creating reports and more time acting on insights. Mix and match metrics from different sources in one Databoard and get a more complete view of your performance at a glance.</p>
    </b-col>
    <b-col cols="6"><div>
      <br>
        <br>
        <br>
  <b-img src="https://databox.com/wp-content/themes/databox/inc/img/first/databox-product-1.png" fluid alt="Responsive image"></b-img>
</div></b-col>

  </b-row>
  
</b-container>
  <div class="footer">
 
    <b-container class="bv-example-row">
      <b-row>
    <b-col cols="3">
      
      <strong>LATEST FROM OUR BLOG</strong>
      <p>
        <br>
        SEO for Beginners: How to Improve Your Search Rankings from 103 SEOs
      </p> 
      <span class="date">April 3, 2019</span>
      <hr>
      <p>
        Blog SEO: A 21-Point Checklist for Optimizing Every Blog Post for Search Engines

      </p> 
      <span class="date">April 2, 2019</span>
    </b-col>

    <b-col cols="3">
      <strong class="title">PRODUCT</strong>
      <br>
      <br>
      <ul>
        <li>Product overview</li>
        <li>Mobile</li>
        <li>Office Datawall</li>
        <li>Designer</li>
        <li>Integrations</li>
        <li>Help Docs</li>
        <li>Reviews</li>
        <li>Partner Directory</li>
      </ul>
    
    </b-col>

    <b-col cols="3">
      <strong class="title">DATABOX FOR YOU </strong>
      <br>
      <br>
      <ul>
        <li>Product overview</li>
        <li>Mobile</li>
        <li>Office Datawall</li>
        <li>Designer</li>
        <li>Integrations</li>
        <li>Help Docs</li>
        <li>Reviews</li>
        <li>Partner Directory</li>
      </ul>
    
    </b-col>

    <b-col cols="3">
      <strong class="title">COMPANY</strong>
      <br>
      <br>
      <ul>
        <li>Product overview</li>
        <li>Mobile</li>
        <li>Office Datawall</li>
        <li>Designer</li>
        <li>Integrations</li>
        <li>Help Docs</li>
        <li>Reviews</li>
        <li>Partner Directory</li>
      </ul>
    
    </b-col>
    </b-row>
    <hr>
   <span class="foot">2019 © Databox, Inc. All Rights Reserved.</span>
   <span class="foot">All Rights Reserved.</span>
   <span class="foot">Terms of Service.</span>
   <span class="foot">Privacy Policy.</span>
   <span class="foot">System status.</span>

    
    </b-container>
   </div>
</div>
</template>
<script>

</script>

<style>
span.foot{
  color: #8e929b;
  padding: 4px;
  font-size: 14px;
}
strong.title{
  margin-left: 40px;
}
li{
  list-style-type: none;
  color: #8e929b;
  

}
hr{
  border: 0.5px solid #E3E4E4;
}
.coba{
  background-color: black;
}
.left{
  color:#8E929B;
}
span.date{
  color: #8e929b;
  font-size: 10px;
}
p{
  color:#E3E4E4;
}
.footer{
  background-color: #2D3237;
}
strong{
  font-weight: 500;
  text-transform: uppercase;
  box-sizing: border-box;
  color: #8e929b;
}
h2{
    font-size: 2.6em;
    line-height: 1.1em;
    color: #8e929b;
    font-weight: 300;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 1.2em 0 1.8em;
}
.inputs {
    position: relative;
    margin: 20px auto 30px;
    width: 425px;
    max-width: 100%;
}
.inputs input {
    padding: 5px 170px 5px 15px;
    height: 46px;
    font-size: 16px;
    line-height: 34px;
    width: 99%;
    color: rgba(0,0,0,.75);
    border-radius: 6px;
    font-weight: 400;
    border: 1px solid rgba(0,0,0,.25);
    outline: 0;
}
.inputs .btn {
    width: 175px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.btn-green {
    background: #2BB673;
    color: #fff;
}
</style>