<template>
<div class="footer">
 
    <b-container class="bv-example-row">
      <b-row>
    <b-col cols="3">
      
      <strong>LATEST FROM OUR BLOG</strong>
      <p>
        <br>
        SEO for Beginners: How to Improve Your Search Rankings from 103 SEOs
      </p> 
      <span class="date">April 3, 2019</span>
      <hr>
      <p>
        Blog SEO: A 21-Point Checklist for Optimizing Every Blog Post for Search Engines

      </p> 
      <span class="date">April 2, 2019</span>
    </b-col>

    <b-col cols="3">
      <strong class="title">PRODUCT</strong>
      <br>
      <br>
      <ul>
        <li>Product overview</li>
        <li>Mobile</li>
        <li>Office Datawall</li>
        <li>Designer</li>
        <li>Integrations</li>
        <li>Help Docs</li>
        <li>Reviews</li>
        <li>Partner Directory</li>
      </ul>
    
    </b-col>

    <b-col cols="3">
      <strong class="title">DATABOX FOR YOU </strong>
      <br>
      <br>
      <ul>
        <li>Product overview</li>
        <li>Mobile</li>
        <li>Office Datawall</li>
        <li>Designer</li>
        <li>Integrations</li>
        <li>Help Docs</li>
        <li>Reviews</li>
        <li>Partner Directory</li>
      </ul>
    
    </b-col>

    <b-col cols="3">
      <strong class="title">COMPANY</strong>
      <br>
      <br>
      <ul>
        <li>Product overview</li>
        <li>Mobile</li>
        <li>Office Datawall</li>
        <li>Designer</li>
        <li>Integrations</li>
        <li>Help Docs</li>
        <li>Reviews</li>
        <li>Partner Directory</li>
      </ul>
    
    </b-col>
    </b-row>
    <hr>
   <span class="foot">2019 © Databox, Inc. All Rights Reserved.</span>
   <span class="foot">All Rights Reserved.</span>
   <span class="foot">Terms of Service.</span>
   <span class="foot">Privacy Policy.</span>
   <span class="foot">System status.</span>

    
    </b-container>
   </div>
   </template>