<template>
	  <b-navbar toggleable="lg" type="light" variant="white" sticky="" id="coba">
    <b-container>
      <b-navbar-nav>
      	
       <b-nav-item> <nuxt-link to="/">Product</nuxt-link></b-nav-item>

      <b-nav-item ><nuxt-link to="/method">Methodology</nuxt-link></b-nav-item>

      <b-nav-item href="#">Pricing</b-nav-item>
      </b-navbar-nav>
      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-form>
          
        </b-nav-form>

        <b-nav-item-dropdown text="Partners" right>
          <b-dropdown-item href="#">EN</b-dropdown-item>
          
        </b-nav-item-dropdown>
        <b-nav-item-dropdown text="Resources" right>
          <b-dropdown-item href="#">EN</b-dropdown-item>
          
        </b-nav-item-dropdown>

        <b-nav-item href="#">Login</b-nav-item>

        
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-container>
  </b-navbar>
</template>
<style>

a.nuxt-link {
  color: green;
}
a:hover{
	color:red;
	text-decoration: none;
}
a.nuxt-link{
  text-decoration: none;
  color:red;
}
a:active{
	color:red;
}
	</style>}
