<template>
 <div id="app">
     <b-container class="bv-example-row">
    <b-row>
      
        <b-img src="https://databox.com/wp-content/themes/databox/inc/img/first/databox-product-main.png" fluid alt="Responsive image"></b-img>

    
     </b-row>
  <b-row>
    <b-col sm="12"><h2>Databox pulls all your data into one place, so you can track performance and discover insights in real-time.</h2>
      <form class="inputs">
          <input type="email" placeholder="Your company email" value="">
          <button type="submit" class="btn btn-green btn-green-darker btn-lg">Get Started</button>
          <small>Free Forever  ·  No Credit Card Required</small>
          </form>

    </b-col>
   
  </b-row>

  <b-row>
    <b-col cols="6">
      <h2>Pull all of your KPIs into one place.</h2>
      <p class="left">
      Tired of logging into multiple tools to see how your company is performing? View all of your performance data in one place so you can spend less time checking data and creating reports and more time acting on insights. Mix and match metrics from different sources in one Databoard and get a more complete view of your performance at a glance.</p>
    </b-col>
    <b-col cols="6"><div>
      <br>
        <br>
        <br>
  <b-img src="https://databox.com/wp-content/themes/databox/inc/img/first/databox-product-1.png" fluid alt="Responsive image"></b-img>
</div></b-col>

  </b-row>
  
</b-container>
  
</div>
</template>
<script>

</script>

<style>
span.foot{
  color: #8e929b;
  padding: 4px;
  font-size: 14px;
}
strong.title{
  margin-left: 40px;
}
li{
  list-style-type: none;
  color: #8e929b;
  

}
hr{
  border: 0.5px solid #E3E4E4;
}
.coba{
  background-color: black;
}
.left{
  color:#8E929B;
}
span.date{
  color: #8e929b;
  font-size: 10px;
}
p{
  color:#E3E4E4;
}
.footer{
  background-color: #2D3237;
}
strong{
  font-weight: 500;
  text-transform: uppercase;
  box-sizing: border-box;
  color: #8e929b;
}
h2{
    font-size: 2.6em;
    line-height: 1.1em;
    color: #8e929b;
    font-weight: 300;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 1.2em 0 1.8em;
}
.inputs {
    position: relative;
    margin: 20px auto 30px;
    width: 425px;
    max-width: 100%;
}
.inputs input {
    padding: 5px 170px 5px 15px;
    height: 46px;
    font-size: 16px;
    line-height: 34px;
    width: 99%;
    color: rgba(0,0,0,.75);
    border-radius: 6px;
    font-weight: 400;
    border: 1px solid rgba(0,0,0,.25);
    outline: 0;
}
.inputs .btn {
    width: 175px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.btn-green {
    background: #2BB673;
    color: #fff;
}

</style>