<template>
 <div id="app">
  <h3>parameters{{$route.params.id}}</h3>
     <b-container class="bv-example-row">
    <div class="xx" v-for="item in posts" v-bind:key="item.key">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ item.publishedAt }}</h6>
            <p class="card-text">{{ item.description }}</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
    </b-container>
   </div>

</template>
<script>

import axios from 'axios'
export default {
  data () {
    return {
      allPost: [],
      posts: []
    }
  },
  mounted () {
    axios('https://newsapi.org/v2/everything?q=programming&domains=techcrunch.com,techinasia.com&apiKey=436cd0a7f17f4112a1cb8510fa3efa76', {
      crossDomain: true
    }).then( ({ data }) => {
      this.allPost = data.articles
      data.articles.map((item, key) => {
        if (item.description !== null && this.posts.length < 9) {
          this.posts.push(item)
        }
      })
    })
  }  
}

</script>

<style>
span.foot{
  color: #8e929b;
  padding: 4px;
  font-size: 14px;
}
strong.title{
  margin-left: 40px;
}
li{
  list-style-type: none;
  color: #8e929b;
  

}
hr{
  border: 0.5px solid #E3E4E4;
}
.coba{
  background-color: black;
}
.left{
  color:#8E929B;
}
span.date{
  color: #8e929b;
  font-size: 10px;
}
p{
  color:#E3E4E4;
}
.footer{
  background-color: #2D3237;
}
strong{
  font-weight: 500;
  text-transform: uppercase;
  box-sizing: border-box;
  color: #8e929b;
}
h2{
    font-size: 2.6em;
    line-height: 1.1em;
    color: #8e929b;
    font-weight: 300;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 1.2em 0 1.8em;
}
.inputs {
    position: relative;
    margin: 20px auto 30px;
    width: 425px;
    max-width: 100%;
}
.inputs input {
    padding: 5px 170px 5px 15px;
    height: 46px;
    font-size: 16px;
    line-height: 34px;
    width: 99%;
    color: rgba(0,0,0,.75);
    border-radius: 6px;
    font-weight: 400;
    border: 1px solid rgba(0,0,0,.25);
    outline: 0;
}
.inputs .btn {
    width: 175px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.btn-green {
    background: #2BB673;
    color: #fff;
}
</style>